@import '~mta-react-common-visuals/build/static/css/mta_visuaal.css';


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-row {
    display: flex;
    align-items: center;
    min-height: 40px;
}

.inline {
    display: inline-flex;
    align-items: center;
}

.red {
    color: red;
}

.gray p {
    color: gray;
}

.right {
    justify-content: flex-end;
}

.right p {
    text-align: right;
}

.custom-section, .form {
    margin: 0 15px!important;
}

.custom-control {
    margin-bottom: 0;
}


@media (max-width: 599px) {
    .right {
        justify-content: flex-start;
    }

    .right p {
        text-align: left;
    }
    .form-row {
        padding: 15px 0
    }
}
