@import '~mta-react-common-visuals/build/static/css/mta_visuaal.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-line {
    display: block;
    height: 45px;
}

.form-line div {
    display: inline-block;
    vertical-align: middle;
}

.form-line > div:nth-child(1) {
    width: 200px;
}

.form-line > div:nth-child(1) > p {
    text-align: right;
    padding: 0;
}

.form-line > div:nth-child(2) {
    width: 10px;
}

.form-line > div:nth-child(3) {
    width: 40px;
}

.form-line > div:nth-child(4), .form-line > div:nth-child(4) input, .form-line > div:nth-child(4) div {
    width: 400px;
}

.form-line > div:nth-child(4) p {
    padding: 0;
}

.form-line > div:nth-child(5) {
    width: 130px;
}

.form-line > div:nth-child(5) > p {
    color: gray;
}

.form-line > div:nth-child(6) {
    width: 350px;
}

.form-section {
    overflow: auto;
}

.form {
    width: 1200px;
    height: 450px;
}

.red {
    color: red;
}
